@charset "UTF-8";

*{
margin: 0;
padding: 0;
box-sizing: border-box;	
}
li {
	list-style-type: none;
}
#mainSlideContainer {
	position: absolute;
	width: 100%;
	top: 120px;
	left:0;
}
#slideShow{
	position: relative;
	width: 100%;
	height: 500px;
	/* 리스트 형식 밖으로 나온 이미지 히든 처리 */
}
.slides{
	position: absolute;
	left: 0;
	top: 0;
	transition : left 0.5s ease-out;
	/* ease-out : 처음에 느렸다가 점점 빨라짐 */
}
.slides li:first-child{
}
/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
  float: left;
}
.slides li{
	float: left;
	width: 100%;
}
.slides li a {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	display: inline-block;
	margin: 0px auto;
}
.controller span{
  position:absolute;
  background-color: gray;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}
/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}
.prev, .next {
	top: 50%;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}
/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{
  transform: translateX(-10px);
}
/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{
  transform: translateX(10px);
}
#mainContents {
	margin-top: 550px;
}
#style-list {
	width: 100%;
	margin: 10px auto;
	display: flex;
	text-align : center;
	}

#codi-list {
	width: 100%;
	margin: 10px auto;
	display: flex;
	text-align : center;
	}
#brand-list	{
	width: 100%;
	margin: 10px auto;
	display: flex;
	text-align : center;
}
	
.codi_img{
	
	width: 160px;
	height: 200px;
	border-radius : 30%;
	
}
.style_img{
	
	width: 160px;
	height: 200px;
	border-radius : 30%;
	
}
.brand_img{
	
	width: 160px;
	height: 200px;
	border-radius : 30%;
	
}
#first {
	    /* border: 1px solid red; */
	    flex:1;
	    width:22%;
	    box-sizing: border-box;
}
#second{
    /* border: 1px solid green; */
    flex:1;
    margin-left: 1%;
    width:22%;
    box-sizing: border-box;
}
#third{
    /* border: 1px solid blue; */
    flex:1;
    margin-left: 1%;
    width:22%;
    box-sizing: border-box;
}
#fourth{
    /* border: 1px solid blue; */
    flex:1;
	margin-left: 1%;
    width:22%;
    box-sizing: border-box;
}
