@charset "UTF-8";

#content {
	max-width: 600px;
	width: 70%;
	margin: 0 auto;
}
#styleList {
	width: 100%;
}
#styleList .list-column{
	width: 100%;
	margin-right: 20px;
	float: left;
}
#styleList .list-column:last-child {
	margin-right: 0px;
}
.item {
	width: 100%;
	margin-bottom: 30px;
}
.item .img-container img{
	width: 100%;
}
.item .item-header {
	width: 100%;
	margin-bottom: 5px;
}
.item .item-header-left {
	float: left;
}
.item .item-header-left .profile-image {
	float: left;
	margin-right: 10px;
}
.item .item-header-left .profile-image img {
	height: 100%;
	height: 40px;
	border-radius: 50%;
	border: solid 2px black;
}
.item .item-header-left .user-regdate {
	float: left;
}
.item .item-header-left .user-regdate .user-name {
	font-weight: bold;
}
.item .item-header-right {
	float: right;
}
.item .item-header-right .follow-btn,
.item .item-header-right .update-btn,
.item .item-header-right .remove-btn{
	float: left;
	height: 30px;
	width: 70px;
	background-color: black;
	font-size: 12px;
	font-weight: bold;
	color: white;
	border-radius: 13px;
	text-align: center;
    line-height: 30px;
}
.item .reply-like-summary .reply-summary,
.item .reply-like-summary .like-summary {
	float: left;
	margin-right: 20px;
}
.item .reply-like-summary .reply-summary img,
.item .reply-like-summary .like-summary img {
	width: 30px;
	margin-right:5px;
}
.item .reply-like-summary .reply-summary span,
.item .reply-like-summary .like-summary span {
	font-size: 24px;
/* 	font-weight: bold; */
}
.item .like-cnt,
.item .reply-cnt {
	font-size: 14px;
}