@charset "UTF-8";

#content {
	max-width: 600px;
	width: 70%;
	margin: 0 auto;
}
#styleList {
	width: 100%;
}
#styleList .list-column{
	width: 100%;
	margin-right: 20px;
	float: left;
}
#styleList .list-column:last-child {
	margin-right: 0px;
}
.item {
	width: 100%;
	margin-bottom: 30px;
}
.item .img-container img{
	width: 100%;
}
.item .item-header {
	width: 100%;
	margin-bottom: 5px;
}
.item .item-header-left {
	float: left;
}
.item .item-header-left .profile-image {
	float: left;
	margin-right: 10px;
}
.item .item-header-left .profile-image img {
	height: 100%;
	height: 40px;
	border-radius: 50%;
	border: solid 2px black;
}
.item .item-header-left .user-regdate {
	float: left;
}
.item .item-header-left .user-regdate .user-name {
	float: left;
	font-weight: bold;
}
.item .item-header-right {
	float: right;
}
.item .item-header-right button{
	float: left;
	height: 36px;
	width: 100px;
	background-color: black;
	font-weight: bold;
	color: white;
	border-radius: 18px;
}
.item .summary .comment-like .comment,
.item .summary .comment-like .like {
	float: left;
}
.item .summary .comment-like .comment img,
.item .summary .comment-like .like img {
	width: 35px;
	margin-right: 20px;
}
.item .like-cnt,
.item .comment-cnt {
	font-size: 14px;
}