@charset "UTF-8";

#content {
	width: 70%;
	margin: 0 auto;
}
#styleList {
	width: 100%;
}
#styleList .list-column{
	width: 100%;
	margin-right: 20px;
	float: left;
}
#styleList .list-column:last-child {
	margin-right: 0px;
}
.card {
	width: 100%;
}
.card .img-container img{
	width: 100%;
}