@charset "UTF-8";

#categories {
	margin: 30px auto;
	text-align: center;
}
#categories button {
	background: white;
	font-size: 20px;
	padding: 8px 15px;
	border-radius: 30% 30% / 50% 50%;
}
#categories button.on {
	background: black;
	color: white;
	font-weight: bold;
}
#categories button#register {
	float: right;
	color: white;
	font-size:30px;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: black;
	border-radius: 50%;
}
#styleList {
	width: 100%;
}
#styleList .list-column{
	width: calc(25% - 15px);
	margin-right: 20px;
	float: left;
}
#styleList .list-column:last-child {
	margin-right: 0px;
}
.card {
	width: 100%;
}
.card .img-container img{
	width: 100%;
}