@charset "UTF-8";

#title h1{
	text-align: center;
}
.form-wrapper {
	max-width: 600px;
	overflow: hidden;
	margin: 50px auto;
}
.form-wrapper h2 {
	margin: 20px auto 10px 10px;
}
.uploader-container {
/* 	margin: 10px; */
}
#register-list {
	width: 1800px;
	height: 800px;
	position: relative;
	transition: 0.5s;
}
#register-list.first {
	left: 0px;
}
#register-list.second {
	left: -600px;
}
#register-list.third {
	left: -1200px;
}
#register-list>li {
	width: 600px;
	float: left;
}
#register-list .btn-container {
	width: 100%;
	float: left;
}
#register-list li>.btn-container{
	margin-bottom: 30px;
}
#register-list .btn-container .next-btn,
#register-list .btn-container .prev-btn{
	display: block;
	width: 120px;
	height: 30px;
	background-color: black;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}
#register-list .btn-container .next-btn.not-yet {
	background-color: lightgray;
	border: 1px solid lightgray;
	color: white;
}
#register-list .btn-container .next-btn.not-yet:hover{
	cursor: default;
}
#register-list .btn-container .next-btn,
#register-list .btn-container #submit {
	float: right;	
}
#register-list .btn-container .prev-btn {
	float: left;
}
#selectRatio {
	text-align: center;
}
#selectImg>#selectRatio li{
	position: relative;
	display: inline-block;
	border: 2px solid black;
}
#selectImg>#selectRatio li div{
	width: 30px;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
#selectImg>#selectRatio li:hover{
	cursor: pointer; 
}
#selectImg>#selectRatio li:not(:last-of-type){
	margin-right: 20px;
}
#selectImg>#selectRatio li[data-ratio="1"]{
	width: 50px;
	height: 50px;
}
#selectImg>#selectRatio li[data-ratio="1.33"] {
	width: 45px;
	height: 60px;
}
#selectImg>#selectRatio li[data-ratio="0.75"] {
	width: 64px;
	height: 48px;
}
#selectImg>#selectRatio li.selected {
	background-color: black;
	color: white;
}
#selectImg>#selectRatio li.selected div{
	color: inherit;
}
/* .editable {
	width: 650px;
	height: 150px;
	float: right;
	margin-right: 20px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
} */
.form-wrapper form textarea {
	max-width: 580px;
	width: 100%;
	height: 150px;
	border: 2px solid #eee;
	padding: 5px;
	resize: none;
	margin: 0 10px;
}
/* .form-wrapper form .form-btn { */
/* 	text-align: center; */
/* 	margin-top: 30px; */
/* } */
/* .form-wrapper form .form-btn button { */
/* 	width: 100px; */
/* 	height: 40px; */
/* 	font-size: 22px; */
/* 	border: 1px solid black; */
/* 	border-radius: 20px 20px / 50% 50%; */
/* 	background-color: white; */
/* } */
/* .form-wrapper form .form-btn button[type="submit"] { */
/* 	color: white; */
/* 	background-color: black; */
/* 	margin-right: 20px; */
/* } */