@charset "EUC-KR";

.codi_Main_top{
	
}
.codi_box{
	text-align : center;
	margin: auto;
}
.brand_keyword{
	display: inline-block;
    padding: 8px 10px;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    font-size: 15px;
}
.teb_item{
	display: inline-block;
	padding: 8px 14px;
	border: 1px solid #ebebeb;
	border-radius: 14px;
    min-width: 59px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -.27px;
    background-color: #ebebeb;
}
.feed_card{
	border : 1px solid black;
	width: calc(25% - 21px);
	height: 300px;
	
}
.codi_img_box{
	width: 279px; 
	height: 376px; 
	background-color: black;
	border-radius : 10px
}

a .abtn{
    display:block;
    width:120px;
    line-height:30px;
    text-align:right;
    /* 이미지 크기를 30*30 정사각형으로 지정하는 경우 */
    padding-left:40px; /* 이미지와 글자사이 10px의 간격을 줌 */
    background-image:url(search.png);
    background-repeat:no-repeat;
    background-position:left center;
}

.codi_box h2{
	text-align: left;
	
}

#textForm{
	width: 95%;
	  border:none;
	  outline:none;
	  color: #636e72;
	  font-size:16px;
	  height:25px;
	  background: none;
		
}

