<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.BrandProductMapper">

	<!-- 상품 등록 -->
	<insert id="insert" parameterType="com.kooream.domain.ProductVO">
		insert into PRODUCT
		(p_no, b_no, p_name_ko, p_name_en, p_size, p_model_no, p_release_price, p_category, p_class, p_brand)
		values(product_no_seq.nextval, #{b_no}, #{p_name_ko}, #{p_name_en}, #{p_size}, #{p_model_no},  #{p_release_price}, #{p_category}, 'brand', #{p_brand} )
	</insert>
	
	<!--  상품 리스트 출력 (최근 등록순으로) -->
	<select id="getList" resultType="com.kooream.domain.ProductVO">
	select A.*,B.b_name
		from product A join brand_member B
			on A.b_no = B.b_no
			where b.b_no = #{b_no}
			order by p_no desc
	</select>	

	
	
	<!-- 상품 상세페이지 이동시 사용하는 mapper -->
	<select id="read" resultType="com.kooream.domain.ProductVO">
		select * from PRODUCT where p_no=#{p_no}
	</select>
	
	<!-- 상품 수정용 mapper -->
	<update id="update" parameterType="com.kooream.domain.ProductVO">
		update PRODUCT 
		set
		b_no=#{b_no},
		p_name_ko=#{p_name_ko},
		p_name_en=#{p_name_en},
		p_model_no=#{p_model_no}, 
		p_release_price=#{p_release_price}, 
		p_category=#{p_category}
		where
			p_no=#{p_no}

	</update>
	<!-- 제일 최근에 등록한 상품번호   -->
	 <select id="getPno" resultType="int">
	      select p_no
	      from PRODUCT
	      WHERE rownum = 1
	      order by p_no desc
	</select>
	<!-- 상품 삭제 버튼 -->
	<delete id="remove">
		delete from PRODUCT where p_no=#{p_no}
	</delete>
	<!--  get에서 판매자 정보 보기위해서 만든 mapper -->
	<select id="member"  resultType="com.kooream.domain.BrandAdminVO">	
		select * from brand_member where b_no=#{b_no}
	</select>
	

	
</mapper> 