<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.kooream.mapper.BrandProductUploadMapper">
<insert id="uploadFile">	<!--  이미지 등록 -->
		INSERT INTO PRODUCT_IMAGE(uuid, FileName, FileType, uploadPath, p_no)
		VALUES(#{uuid}, #{FileName}, #{FileType, jdbcType=VARCHAR}, #{uploadPath}, #{p_no})
</insert>
<select id="findByPno" resultType="com.kooream.domain.AttachFileVO">
	select * from product_image where p_no=#{p_no}
</select>
<delete id="removeFile">	<!--  파일삭제 -->
	delete from PRODUCT_IMAGE where uuid=#{uuid}

</delete>
 
	
</mapper> 