<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.BrandProductMapper">
<insert id="insert" parameterType="com.kooream.domain.ProductVO">
	insert into PRODUCT
	(p_no, b_no, p_name_ko, p_name_en, p_size, p_model_no, p_release_price, p_category, p_class)
	values(seq_PRODUCT.nextval, #{b_no}, #{p_name_ko}, #{p_name_en}, #{p_size}, #{p_model_no},  #{p_release_price}, #{p_category}, 'brand' )
</insert>
<select id="getList" resultType="com.kooream.domain.ProductVO">
		<![CDATA[
			select * from PRODUCT where b_no > 0
		]]>
</select>
 <select id="getPno" resultType="int">

      select p_no
      from PRODUCT
      WHERE rownum = 1
      order by p_no desc
</select>

	
</mapper> 