<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.CommunityTalkMapper">
	<select id="getTalkList" resultType="com.kooream.domain.CommunityTalkVO">
		SELECT * FROM talk ORDER BY talkno DESC
	</select>

	<insert id="talkInsert">
		INSERT INTO talk(talkno, m_no, talkname, talktitle, talkcon, talkdate)
		VALUES (seq_talk.nextval, #{m_no}, #{talkname}, #{talktitle}, #{talkcon}, sysdate)
	</insert>
	
	<select id="talkGet" resultType="com.kooream.domain.CommunityTalkVO">
		SELECT * FROM talk WHERE talkno = #{talkno}
	</select>
	
	<delete id="talkRemove">
		DELETE FROM talk WHERE talkno = #{talkno}
	</delete>
	
	<update id="talkUpdate">
		UPDATE talk SET
		talktitle = #{talktitle},
		talkcon = #{talkcon},
		talkname = #{talkname}
		WHERE talkno = #{talkno}
	</update>
	
	
	<select id="getListWithPaging" resultType="com.kooream.domain.CommunityTalkVO">
		<![CDATA[
		SELECT talkno, talkname, talktitle, talkcon, talkdate
		FROM
			(SELECT /*+index_desc(talk pk_talk)*/
			ROWNUM rn, talkno, talkname, talktitle, talkcon,  talkdate
			FROM talk
			WHERE ROWNUM <= #{pageNum} * #{amount})
		WHERE rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM talk
	</select>
	
	
</mapper>