<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.CommunityTalkReplyMapper">
	<insert id="insert">
		INSERT INTO talkreply  (talkreplyno, talkno, m_no, talkreplyname, talkreplycon, talkreplydate)
		VALUES (seq_talkreply.nextval, #{talkno}, #{m_no}, #{talkreplyname}, #{talkreplycon}, sysdate)
	</insert>
	
	<select id="getList" resultType="com.kooream.domain.CommunityTalkReplyVO">
		SELECT talkreplyno, talkreplyname, talkreplycon, talkreplydate, m_no  FROM talkreply 
		WHERE talkno = #{talkno} ORDER BY talkreplyno ASC 
	</select>
	
	<delete id="delete">
		DELETE FROM talkreply WHERE talkreplyno = #{talkreplyno}
	</delete>
	
	<delete id="allDelete">
		DELETE FROM talkreply WHERE talkno = #{talkno}
	</delete>
	
	<update id="update">
		UPDATE talkreply SET
		talkreplycon = #{talkreplycon},
		talkreplydate = sysdate
		WHERE talkreplyno = #{talkreplyno}
	</update>
	
	<select id="read" resultType="com.kooream.domain.CommunityTalkReplyVO">
		SELECT talkreplyno, talkreplycon, talkreplyname, talkreplydate, talkno, m_no FROM talkreply
		WHERE talkreplyno = #{talkreplyno}
	</select>
	
	
</mapper>