<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.MemberImageMapper">
	<select id="getProfile" resultType="com.kooream.domain.ImageFileVO">
		select *
		from member_image
		where m_no=#{m_no}
	</select>
	<insert id="insert">
		insert into member_image
		values(
			#{uuid},
			#{uploadPath},
			#{fileName},
			#{m_no}
		)
	</insert>
	<delete id="delete">
		delete from member_image
		where m_no=#{m_no}
	</delete>
</mapper>