<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.OriginalReplyMapper">
	<insert id="insert">
		INSERT INTO originalreply  (orireplyno, orino, m_no, orireplyname, orireplycon, oridecision, orireplydate)
		VALUES (seq_originalreply.nextval, #{orino}, 1, #{orireplyname}, #{orireplycon}, #{oridecision}, sysdate)
	</insert>
	
	<select id="getList" resultType="com.kooream.domain.OriginalReplyVO">
		SELECT orireplyno, orireplyname, orireplycon, orireplydate, oridecision  FROM originalreply 
		WHERE orino = #{orino} ORDER BY orireplyno ASC
	</select>

	<select id="countOriOk" resultType="int">
		SELECT COUNT(*) FROM originalreply WHERE orino = #{orino} AND oridecision='oriOk'
	</select>
	
	<select id="countOriNo" resultType="int">
		SELECT COUNT(*) FROM originalreply WHERE orino = #{orino} AND oridecision='oriNo'
	</select>
	
	<select id="chOk" resultType="com.kooream.domain.OriginalReplyVO">
		SELECT * FROM originalreply WHERE orino = #{orino} AND oridecision = 'oriOk'
	</select>
	
	<select id="chNo" resultType="com.kooream.domain.OriginalReplyVO">
		SELECT * FROM originalreply WHERE orino = #{orino} AND oridecision = 'oriNo'
	</select>
	
	<delete id="delete">
		DELETE FROM originalreply WHERE orireplyno = #{orireplyno}
	</delete>
	
	<select id="read" resultType="com.kooream.domain.OriginalReplyVO">
		SELECT orireplyno, orireplycon, orireplyname, orireplydate, oridecision, orino FROM originalreply
		WHERE orireplyno = #{orireplyno}
	</select>
	
	<update id="update">
		UPDATE originalreply SET
		orireplycon = #{orireplycon},
		orireplydate = sysdate
		WHERE orireplyno = #{orireplyno}
	</update>
	
</mapper>