<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.OriginalMapper">
	<select id="oriList" resultType="com.kooream.domain.OriginalVO">
		SELECT * FROM original_pro ORDER BY orino DESC
	</select>

	<insert id="oriInsert">
		INSERT INTO original_pro(orino, m_no, brandname, oriname, oricon, orititle, oridate)
		VALUES (seq_original.nextval, #{m_no}, #{brandname}, #{oriname}, #{oricon}, #{orititle}, sysdate)
	</insert>
	
	<select id="getOrino" resultType="int">
		SELECT MAX(orino) FROM original_pro
	</select>
	
	<select id="oriGet" resultType="com.kooream.domain.OriginalVO">
		SELECT * FROM original_pro WHERE orino = #{orino}
	</select>
	
	<delete id="oriRemove">
		DELETE FROM original_pro WHERE orino = #{orino}
	</delete>
	
	<update id="oriUpdate">
		UPDATE original_pro SET
		orititle = #{orititle},
		oricon = #{oricon}
		WHERE orino = #{orino}
	</update>
	
</mapper>