<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.kooream.mapper.PaymentMapper">
<insert id="addPayment">	
		INSERT INTO order_t(buy_no, M_no, p_no, b_no, sum_price, pp_size )
		VALUES(oder_no_seq.nextval, 1, #{p_no}, #{b_no}, #{sum_price}, #{pp_size} )
</insert>
<select id="paymentList" resultType="com.kooream.domain.PaymentVO">
 select
 o. * ,
 p.p_model_no, p.p_name_ko, p.p_name_en
 from order_t o
    inner join product p
    on o.p_no = p.p_no
    order by buy_no desc

</select>
	
</mapper> 