<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.kooream.mapper.PaymentMapper">
<insert id="addPayment" parameterType="com.kooream.domain.PaymentVO">	
	INSERT INTO payment(buy_no, buy_date, m_no, p_no, m_adress, pay_price )
	VALUES(payment_no_seq.nextval, sysdate, #{m_no}, #{p_no},#{m_adress}, #{pay_price})
</insert>
<select id="paymentList" resultType="com.kooream.domain.PaymentVO">
	select 
    pro.p_name_ko, pro.uuid, pro.filename, pro.uploadpath,
    p.*
    from product pro, payment p
    where pro.p_no = p.p_no and p.m_no = #{m_no}
    order by buy_no desc
</select>
<delete id="paymentdelete">
	delete from payment where buy_date = #{buy_date}
</delete>

	
</mapper> 