<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.RentalMapper">
	
	<insert id="addRntPrdt">
		<selectKey keyProperty="p_no" resultType="int" order="BEFORE">
			SELECT rproduct_no_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT
		(P_NO, B_NO, P_NAME_KO, P_NAME_EN, P_MODEL_NO, P_RELEASE_PRICE, P_CATEGORY, P_CLASS, P_STOCK, R_CHECK, R_PRICE)
		VALUES(#{p_no}, 
			#{b_no}, 
			#{p_name_ko}, 
			#{p_name_en}, 
			#{p_model_no}, 
			#{p_release_price}, 
			#{p_category}, 
			'rental', 
			#{p_stock}, 
			'y', 
			#{r_price})
	</insert>
	
	<select id="getList" parameterType="com.kooream.domain.RentalMenuVO" resultType="com.kooream.domain.ProductVO">
		<![CDATA[
		SELECT (SELECT B.UPLOADPATH || '\' || B.UUID || '_' || B.FILENAME 
        FROM product_image B WHERE B.P_NO = A.P_NO AND ROWNUM <= 1) AS img_url,
		A.*
		FROM product A
		where P_CLASS = 'rental'
		AND R_CHECK = 'y'
		]]>
		<if test="brandType != null and brandType.size != 0">
			AND A.B_NO
	    	<foreach collection="brandType" item="item" separator="," open="IN (" close=")">
	    		#{item}
	    	</foreach>
	    </if>
	    <if test="ctgrType != null and ctgrType.size != 0">
			AND A.P_CATEGORY
	    	<foreach collection="ctgrType" item="item" separator="," open="IN (" close=")">
	    		#{item}
	    	</foreach>
	    </if>
	    <if test="price != null and price != ''">
	    	<![CDATA[
	    	AND A.R_PRICE <= #{price}
	    	]]>
	    </if>
	    
	    
	</select>
	
	
</mapper>