<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.RntInterestMapper">
	<!-- 관심상품 추가 -->
	<insert id="interestRnt" parameterType="com.kooream.domain.ProductVO">
		INSERT INTO interest_tbl VALUES(1, #{p_no})
	</insert>
	
	<!-- 관심상품 여부 -->
	<select id="countInterest" parameterType="com.kooream.domain.ProductVO" resultType="com.kooream.domain.RntInterestVO">
		select count(*) as cnt from interest_tbl where m_no=1 and p_no=#{p_no}
	</select>
	
	<delete id="intrstRemove" parameterType="com.kooream.domain.ProductVO">
		DELETE FROM INTEREST_TBL WHERE M_NO=1 AND P_NO=#{p_no}
	</delete>
	
	<!-- 관심상품 리스트 조회 -->
	<select id="interestList" parameterType="int" resultType="com.kooream.domain.ProductVO">
		SELECT A.*, (SELECT B.UPLOADPATH || '\' || B.UUID || '_' || B.FILENAME
						FROM PRODUCT_IMAGE B
						WHERE A.P_NO = B.P_NO AND ROWNUM =1) AS img_url
		FROM PRODUCT A 
		WHERE P_NO = (SELECT P_NO
						FROM INTEREST_TBL
						WHERE M_NO=#{m_no})
	</select>
</mapper>