<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleReplyMapper">
	<select id="getList" resultType="com.kooream.domain.StyleReplyVO">
		<![CDATA[
			select m_no, m_nickname, m_uuid, m_uploadpath, m_filename,
				style_no, style_regdate, style_content, count_like, count_reply, s_uuid uuid, s_uploadpath uploadpath, s_filename filename, count_image
			from (select /*+index_desc(style style_pk) */
					  rownum rn, m.m_no m_no, m_nickname m_nickname, m.uuid m_uuid, m.uploadpath m_uploadpath, m.filename m_filename,
					  style_no, style_regdate, style_content, count_like, count_reply, s.uuid s_uuid, s.uploadpath s_uploadpath, s.filename s_filename, count_image
				  from member m inner join style s on m.m_no = s.m_no
      			  where rownum <= #{pageNum} * #{amount})
			where rn > (1 - #{pageNum}) * #{amount}
		]]>
	</select>
	
	<select id="get" resultType="com.kooream.domain.StyleReplyVO">
		select *
		from style_reply
		where rno=#{rno}
	</select>
	
	<select id="getStyleNo" resultType="long">
		select style_no
		from style_reply
		where rno=#{rno}
	</select>
	
	<select id="getRnoNestedFrom" resultType="long">
		select NVL(max(rno), 0)
		from style_reply
		where rno = (select nested_from
					 from style_reply
					 where rno = #{rno})
	</select>
	
	<select id="getCountNested" resultType="int">
		select NVL(count_nested, 0)
		from style_reply
		where rno=#{rno}
	</select>
	
	<insert id="insert">
		insert into style_reply
		values (style_reply_seq.nextval,
				#{style_no},
				#{mno},
				#{content},
				sysdate,
				#{nested_from},
				0)
	</insert>
	
	<update id="update">
		update style_reply
		set
			content=#{content}
		where 
			rno=#{rno}
	</update>
	
	<update id="updateCountNested">
		update style_reply
		set count_nested = count_nested + #{amount}
		where rno = #{rnoNestedFrom}
	</update>
	
	<delete id="delete">
		delete from style_reply
		where rno=#{rno}
	</delete>
	
	<delete id="deleteByStyleNo">
		delete from style_reply
		where style_no=#{style_no}
	</delete>
	
	<delete id="deleteNested">
		delete from style_reply
		where nested_from=#{rno}
	</delete>
</mapper>