<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleMapper">
	<select id="getList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			      from style
        		  where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getRecentList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			      from style
        		  where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getHotList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			      from style
        		  where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getTagList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			from (select /*+index_desc(style style_pk) */
      			  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
      			  from style
      			  where style_no in (select style_no 
									 from style_tag
                       				 where tag_no = (select tag_no
                                        			 from hashtag
                                        			 where hashtag like #{query}))
      			  and rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	<select id="getMemberList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio
			      from style
        		  where m_no=#{query} 
        		  and rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="get" resultType="com.kooream.domain.StyleVO">
		select *
		from style
		where style_no = #{style_no}
	</select>
	
	<select id="getCountReply" resultType="int">
		select count_reply
		from style
		where style_no = #{style_no}
	</select>
	
	<select id="getStyle_no" resultType="long">
		select style_no
		from (select style_no
			  from style
			  order by style_no desc)
		where rownum=1
	</select>
	
	<!-- 회원번호는 임시 데이터 -->
	<insert id="insert">
		insert into style(style_no, m_no, style_regdate, style_content, count_like, count_reply, ratio)
		values( style_seq.nextval,
				#{m_no},
				sysdate,
				#{style_content},
				0,
				0,
				#{ratio})
	</insert>
	
	<update id="update">
		update style
		set style_content = #{style_content}
		where style_no = #{style_no}
	</update>
	
	<update id="updateCountReply">
		update style
		set count_reply = count_reply + #{amount}
		where style_no = #{style_no}
	</update>
	
	<delete id="delete">
		delete from style
		where style_no = #{style_no}
	</delete>
	
</mapper>