<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleMapper">
	<select id="getList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, mno, style_regdate, style_content, count_like, count_reply
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, mno, style_regdate, style_content, count_like, count_reply
			      from style
        		  where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="get" resultType="com.kooream.domain.StyleVO">
		select *
		from style
		where style_no = #{style_no}
	</select>
	
	<select id="getCommentCount" resultType="int">
		select count_reply
		from style
		where style_no = #{style_no}
	</select>
	
	<select id="getStyle_no" resultType="long">
		select style_no
		from (select style_no
			  from style
			  order by style_no desc)
		where rownum=1
	</select>
	
	<!-- 회원번호는 임시 데이터 -->
	<insert id="insert">
		insert into style(style_no, mno, style_regdate, style_content, count_like, count_reply, ratio)
		values( style_seq.nextval,
				0,
				sysdate,
				#{style_content},
				0,
				0,
				#{ratio})
	</insert>
	
	<update id="updateCountReply">
		update style
		set count_reply = count_reply + #{amount}
		where style_no = #{style_no}
	</update>
</mapper>