<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleProductTagMapper">
	<select id="getTagList" resultType="com.kooream.domain.StyleProductTagVO">
		select *
		from style_product_tag
		where style_no=#{style_no} and fileName=#{fileName} and uuid=#{uuid}
	</select>
	
	<select id="getPNoListByStyleNo" resultType="int">
		select distinct p_no
		from style_product_tag
		where style_no=#{style};
	</select>
	<insert id="insert">
		insert into style_product_tag
		values (#{style_no}, #{p_no}, #{uuid}, #{fileName}, #{offsetX}, #{offsetY})
	</insert>
</mapper>