<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleReplyMapper">
	<select id="getList" resultType="com.kooream.domain.StyleReplyVO">
		<![CDATA[
			select m_no, m_nickname, uuid, uploadpath, filename, r_no, style_no, content, regdate, nested_from, count_nested
			from (select /*+index_desc(style_reply style_reply_pk) */
			          rownum rn, m.m_no, m_nickname, m.uuid, m.uploadpath, m.filename, r_no, style_no, content, regdate, nested_from, count_nested
			      from member m inner join style_reply r on m.m_no = r.m_no
			      where style_no = #{style_no} and rownum <= 1 * 20)
			where rn > (1 - 1) * 20
		]]>
	</select>
	
	<select id="getReplyListByStyleNoList" resultType="com.kooream.domain.StyleReplyVO">
    	SELECT r.m_no, m_nickname, uuid, uploadpath, filename, r_no, style_no, content, regdate
    	FROM style_reply r left join member m on m.m_no = r.m_no
    	WHERE style_no IN
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      		#{item}
    	</foreach>
    	and r.nested_from = 0
	</select>
	
	<select id="get" resultType="com.kooream.domain.StyleReplyVO">
		select *
		from style_reply
		where r_no=#{r_no}
	</select>
	
	<select id="getStyleNo" resultType="long">
		select style_no
		from style_reply
		where r_no=#{r_no}
	</select>
	
	<select id="getRnoNestedFrom" resultType="long">
		select NVL(max(r_no), 0)
		from style_reply
		where r_no = (select nested_from
					 from style_reply
					 where r_no = #{r_no})
	</select>
	
	<select id="getCountNested" resultType="int">
		select NVL(count_nested, 0)
		from style_reply
		where r_no=#{r_no}
	</select>
	
	<insert id="insert">
		insert into style_reply
		values (style_reply_seq.nextval,
				#{style_no},
				#{m_no},
				#{content},
				sysdate,
				#{nested_from},
				0)
	</insert>
	
	<update id="update">
		update style_reply
		set
			content=#{content}
		where 
			r_no=#{r_no}
	</update>
	
	<update id="updateCountNested">
		update style_reply
		set count_nested = count_nested + #{amount}
		where r_no = #{rnoNestedFrom}
	</update>
	
	<delete id="delete">
		delete from style_reply
		where r_no=#{r_no}
	</delete>
	
	<delete id="deleteByStyleNo">
		delete from style_reply
		where style_no=#{style_no}
	</delete>
	
	<delete id="deleteNested">
		delete from style_reply
		where nested_from=#{r_no}
	</delete>
</mapper>