<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kooream.mapper.StyleMapper">
	<select id="getList" resultType="com.kooream.domain.StyleVO">
		<![CDATA[
			select style_no, m_no, style_regdate, style_content, count_like, count_comment
			from (select /*+index_desc(style style_pk) */
            	  rownum rn, style_no, m_no, style_regdate, style_content, count_like, count_comment
			      from style
        		  where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getStyle_no" resultType="long">
		select style_no
		from (select style_no
			  from style
			  order by style_no desc)
		where rownum=1
	</select>
	
	
	<!-- 회원번호는 임시 데이터 -->
	<insert id="insert">
		insert into style(style_no, m_no, style_regdate, style_content, count_like, count_comment)
		values( style_seq.nextval,
				11,
				sysdate,
				#{style_content},
				0,
				0)
	</insert>
</mapper>